<header th:fragment="header" xmlns:th="http://www.thymeleaf.org" style="margin-bottom:5em;">
    <div id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-center">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="/">Accueil</a></li>
                        <li><a href="/planning">Mon Planning</a></li>
                        <li><a href="/profile">Mes informations</a></li>
                        <li><a href="/perform_logout" type="submit">Se déconnecter</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </div><!-- #header -->
</header>