<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${activity.getActivityName()}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>


    <div class="container" style="margin-top: 1em; margin-left: 0em" >
    <h3>Sessions</h3>
    <div class="row" style="margin-top: 1em">
        <div class="col-3" th:each="sessiont :${activity.getSessions()}">
            <div class="card" style="align-content: center;">
                <div class="card-body">
                    <p class="card-text" th:text="'Le '+${sessiont.getDay()}+' à '+${sessiont.getTimeString()}">
                        Session du mardi 12h</p>
                    <a th:if= "${isUserConnected == true}" th:href="'/sessions/' + ${sessiont.getId()}+'/register/'" class="btn btn-secondary"
                       style="width: 100%;font-size: 16px">
                        S'inscrire
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>