<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style-login-inscription.css}"/>
</head>
<body>
<form  method="post" action="/addActivity">


    <label for="name"><b>Nom de l'Activité</b></label>
    <input type="text" placeholder="Entrez votre nom" id="name"  name="name" required>
    <select name="groupeId" id="groupeId">
        <option th:text="${groupe.getId()}" th:value="${groupe.getId()}"></option>
    </select>

    <button type="submit">Valider</button>
    <button type="reset">Vider</button>
</form>
</body>
</html>