<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-login-inscription.css}"/>

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="../static/css/fitness/css/linearicons.css"
              th:href="@{/css/fitness/css/linearicons.css}">
        <link rel="stylesheet" href="../static/css/fitness/css/font-awesome.min.css"
              th:href="@{/css/fitness/css/font-awesome.min.css}">
        <link rel="stylesheet" href="../static/css/fitness/css/bootstrap.css" th:href="@{/css/fitness/css/bootstrap.css}">
        <link rel="stylesheet" href="../static/css/fitness/css/magnific-popup.css"
              th:href="@{/css/fitness/css/magnific-popup.css}">
        <link rel="stylesheet" href="../static/css/fitness/css/nice-select.css"
              th:href="@{/css/fitness/css/unregister-to-session.html}">
        <link rel="stylesheet" href="../static/css/fitness/css/animate.min.css"
              th:href="@{/css/fitness/css/animate.min.css}">
        <link rel="stylesheet" href="../static/css/fitness/css/owl.carousel.css"
              th:href="@{/css/fitness/css/owl.carousel.css}">
        <link rel="stylesheet" href="../static/css/fitness/css/jquery-ui.css" th:href="@{/css/fitness/css/jquery-ui.css}">
        <link rel="stylesheet" href="../static/css/fitness/css/main.css" th:href="@{/css/fitness/css/main.css}">
    </head>
    <body>
        <div th:replace="fragments/admin :: header"></div>
        <form method="post" action="/addActivity" style="margin:auto; margin-top: 10em; margin-bottom: 5%; width: 50%;">
            <label for="name"><b>Nom de l'Activité</b></label>
            <input type="text" placeholder="Entrez votre nom" id="name" name="name" required>
            <select name="groupeId" id="groupeId" required hidden>
                <option th:text="${groupe.getId()}" th:value="${groupe.getId()}"></option>
            </select>
            <button type="submit">Valider</button>
        </form>
    </body>
</html>