<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>S'inscrire</title>
</head>
<body>
    <div>
        <h1>
            Inscription à une session
        </h1>
        <form th:action="@{/inscription-session}" th:method="post">
            <table>
                <tr>
                    <td th:text="${sessiont.getActivity().getActivityName()}"> </td>
                </tr>
                <tr>
                    <td th:text="${sessiont.getDay()}+' '+${sessiont.getStartTime().toString()}"></td>
                </tr>
            </table>
            <label for="titulaire">
                <input type="radio" id="titulaire" name="inscription_type" value="titulaire">
                Titulaire (inscription pour toute l'année)
            </label>
            <label for="Optionnel">
                <input type="radio" id="Optionnel" name="inscription_type" value="optionnel">
                Optionnel (inscription pour la semaine prochaine uniquement)
            </label>
            <input type="submit" th:name="submit">
            <input type="hidden" th:name="session_id" th:id="session_id" th:value="${sessiont.id}">
        </form>
    </div>
</body>
</html>